@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 108 45.45% 2.16%;
    --foreground: 204.71 48.57% 93.14%;

    --primary: 202.57 46.38% 53.92%;
    --primary-foreground: 0 0% 100%;

    --card: 108 45.45% 2.16%;
    --card-foreground: 204.71 48.57% 93.14%;

    --popover: 108 45.45% 2.16%;
    --popover-foreground: 204.71 48.57% 93.14%;

    --secondary: 202.11 39.58% 18.82%;
    --secondary-foreground: 0 0% 100%;

    --muted: 108 8.2% 11.96%;
    --muted-foreground: 100 1.2% 51.18%;

    --accent: 202.11 39.58% 18.82%;
    --accent-foreground: 204.71 48.57% 93.14%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 202.57 46.38% 53.92%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
